@import "variables";

.mat-app-background {
  background-color: @primary-color !important;
}

mat-card {
  border-radius: 20px !important;
  border: 1px solid @accent-color;
  background-color: @background-color;
}

mat-sidenav {
  background-color: @background-color;
}

mat-toolbar {
  background-color: @background-color;
}

app-new-releases .mat-chip-list-wrapper {
  justify-content: center;
}

.mat-menu-panel {
  background-color: black;
}

a.mat-list-item.mat-focus-indicator.active {
  color: @accent-color !important;
}

.mat-nav-list {
  padding-top: 0 !important;
}

.mat-tab-group {
  color: white;
  background-color: @primary-color;
}

.mat-ink-bar {
  background-color: @accent-color;
}
