@import "~styles/variables";

.container {
  margin: 1em;
  max-width: 100%;
}

.artist {
  &-title-group {
  }

  &-title {
    font-size: 60px;
    margin-top: 0.5em;
  }

  &-image {
    border-radius: 20px;
    margin-right: 1em;
    width: 400px;
    height: 400px;
  }

  &-top-tracks {
    margin-top: 1em;

    &-title {
      font-size: 30px;
    }

    &-container {
      margin-top: 1em;
    }
  }

  &-iframe {
    width: 100%;
    margin-top: 3em;
  }

  &-break {
    flex-basis: 100%;
    height: 0;
  }

  &-panel {
    margin-top: 2em;
    box-shadow: 0 -5px 3px -3px white, 0 5px 3px -3px white;
    padding-top: 1em;

    &-header {
      font-size: 20px;
      margin-bottom: 0.5em;
    }
  }

  &-panel .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }

  &-popularity-container {
    margin-top: 0.5em;
    font-size: 30px;
  }

  &-popularity {
    margin-right: 0.2em;
  }

  &-popularity-icon {
    font-size: 30px;
    color: #DE541E;
  }

  &-followers-container {
    margin-top: 1em;
    font-size: 30px;
  }

  &-followers {
    margin-right: 0.2em;
  }

  &-followers-icon {
    color: #FFF275;
    font-size: 30px;
  }

  &-genre-container {
    margin-left: -4px;
    margin-top: 1em;
  }

  &-genre-chip {
    border: 1px solid @accent-color;
    justify-content: space-evenly;
  }
}

//.mat-expansion-panel {
//  box-sizing: content-box;
//  display: flex;
//  margin: 0;
//  flex-basis: 50%;
//  flex-direction: column;
//  border-radius: 4px;
//  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//  position: relative;
//}

.mat-card-title-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

@media screen and (max-width: 900px) {
  .artist {
    &-title {
      font-size: 40px;
    }

    &-image {
      max-width: 200px;
      max-height: 200px;
    }
  }
}

//::ng-deep .mat-chip-list-wrapper {
//  flex-direction: column !important;
//  align-items: flex-start !important;
//  margin: -4px;
//}
