<mat-toolbar *ngIf="router.url !== '/login'" class="nav-toolbar mat-elevation-z10">
  <img class="nav-logo" src="assets/logo.png"/>
  <span>Spotify Me</span>
  <span class="toolbar-spacer"></span>
  <app-user></app-user>
</mat-toolbar>
<mat-sidenav-container class="nav-container">
  <mat-sidenav class="nav-sidenav mat-elevation-z10" *ngIf="router.url !== '/login'" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item routerLink="/insights" routerLinkActive="active">
        <mat-icon mat-list-icon>manage_search</mat-icon>
        <span mat-line>Insights</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
